//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 06 14:00:01 2023
//! **************************************************************************

SCHEMATIC START;
COMP "sw" LOCATE = SITE "T10" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "BtnD" LOCATE = SITE "C9" LEVEL 1;
COMP "BtnL" LOCATE = SITE "C4" LEVEL 1;
COMP "BtnM" LOCATE = SITE "B8" LEVEL 1;
COMP "BtnR" LOCATE = SITE "D9" LEVEL 1;
COMP "BtnU" LOCATE = SITE "A8" LEVEL 1;
COMP "hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "rgb<3>" LOCATE = SITE "P8" LEVEL 1;
COMP "rgb<4>" LOCATE = SITE "T6" LEVEL 1;
COMP "rgb<5>" LOCATE = SITE "V6" LEVEL 1;
COMP "rgb<6>" LOCATE = SITE "R7" LEVEL 1;
COMP "rgb<7>" LOCATE = SITE "T7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "b0/m0/clk_1ms" BEL "b0/m0/cnt_0" BEL "b0/m0/cnt_1"
        BEL "b0/m0/cnt_2" BEL "b0/m0/cnt_3" BEL "b0/m0/cnt_4" BEL
        "b0/m0/cnt_5" BEL "b0/m0/cnt_6" BEL "b0/m0/cnt_7" BEL "b0/m0/cnt_8"
        BEL "b0/m0/cnt_9" BEL "b0/m0/cnt_10" BEL "b0/m0/cnt_11" BEL
        "b0/m0/cnt_12" BEL "b0/m0/cnt_13" BEL "b0/m0/cnt_14" BEL
        "b0/m0/cnt_15" BEL "vga0/clk0/cnt" BEL "vga0/clk0/clk_pixel" BEL
        "g0/rgb_now_7" BEL "g0/rgb_now_6" BEL "g0/rgb_now_5" BEL
        "g0/rgb_now_4" BEL "g0/rgb_now_3" BEL "g0/rgb_now_2" BEL
        "g0/rgb_now_1" BEL "g0/rgb_now_0" BEL "g0/UArrows_0_109" BEL
        "g0/UArrows_0_108" BEL "g0/UArrows_0_107" BEL "g0/UArrows_0_106" BEL
        "g0/UArrows_0_105" BEL "g0/UArrows_0_104" BEL "g0/UArrows_0_103" BEL
        "g0/UArrows_0_102" BEL "g0/UArrows_0_101" BEL "g0/UArrows_0_100" BEL
        "g0/UArrows_0_99" BEL "g0/UArrows_0_98" BEL "g0/UArrows_0_97" BEL
        "g0/UArrows_0_96" BEL "g0/UArrows_0_95" BEL "g0/UArrows_0_94" BEL
        "g0/UArrows_0_93" BEL "g0/UArrows_0_92" BEL "g0/UArrows_0_91" BEL
        "g0/UArrows_0_90" BEL "g0/UArrows_0_89" BEL "g0/UArrows_0_88" BEL
        "g0/UArrows_0_87" BEL "g0/UArrows_0_86" BEL "g0/UArrows_0_85" BEL
        "g0/UArrows_0_84" BEL "g0/UArrows_0_83" BEL "g0/UArrows_0_82" BEL
        "g0/UArrows_0_81" BEL "g0/UArrows_0_80" BEL "g0/UArrows_0_79" BEL
        "g0/UArrows_0_78" BEL "g0/UArrows_0_77" BEL "g0/UArrows_0_76" BEL
        "g0/UArrows_0_75" BEL "g0/UArrows_0_74" BEL "g0/UArrows_0_73" BEL
        "g0/UArrows_0_72" BEL "g0/UArrows_0_71" BEL "g0/UArrows_0_70" BEL
        "g0/UArrows_0_69" BEL "g0/UArrows_0_68" BEL "g0/UArrows_0_67" BEL
        "g0/UArrows_0_66" BEL "g0/UArrows_0_65" BEL "g0/UArrows_0_64" BEL
        "g0/UArrows_0_63" BEL "g0/UArrows_0_62" BEL "g0/UArrows_0_61" BEL
        "g0/UArrows_0_60" BEL "g0/UArrows_0_59" BEL "g0/UArrows_0_58" BEL
        "g0/UArrows_0_57" BEL "g0/UArrows_0_56" BEL "g0/UArrows_0_55" BEL
        "g0/UArrows_0_54" BEL "g0/UArrows_0_53" BEL "g0/UArrows_0_52" BEL
        "g0/UArrows_0_51" BEL "g0/UArrows_0_50" BEL "g0/UArrows_0_49" BEL
        "g0/UArrows_0_48" BEL "g0/UArrows_0_47" BEL "g0/UArrows_0_46" BEL
        "g0/UArrows_0_45" BEL "g0/UArrows_0_44" BEL "g0/UArrows_0_43" BEL
        "g0/UArrows_0_42" BEL "g0/UArrows_0_41" BEL "g0/UArrows_0_40" BEL
        "g0/UArrows_0_39" BEL "g0/UArrows_0_38" BEL "g0/UArrows_0_37" BEL
        "g0/UArrows_0_36" BEL "g0/UArrows_0_35" BEL "g0/UArrows_0_34" BEL
        "g0/UArrows_0_33" BEL "g0/UArrows_0_32" BEL "g0/UArrows_0_31" BEL
        "g0/UArrows_0_30" BEL "g0/UArrows_0_29" BEL "g0/UArrows_0_28" BEL
        "g0/UArrows_0_27" BEL "g0/UArrows_0_26" BEL "g0/UArrows_0_25" BEL
        "g0/UArrows_0_24" BEL "g0/UArrows_0_23" BEL "g0/UArrows_0_22" BEL
        "g0/UArrows_0_21" BEL "g0/UArrows_0_20" BEL "g0/UArrows_0_19" BEL
        "g0/UArrows_0_18" BEL "g0/UArrows_0_17" BEL "g0/UArrows_0_16" BEL
        "g0/UArrows_0_15" BEL "g0/UArrows_0_14" BEL "g0/UArrows_0_13" BEL
        "g0/UArrows_0_12" BEL "g0/UArrows_0_11" BEL "g0/UArrows_0_10" BEL
        "g0/UArrows_0_9" BEL "g0/UArrows_0_8" BEL "g0/UArrows_0_7" BEL
        "g0/UArrows_0_6" BEL "g0/UArrows_0_5" BEL "g0/UArrows_0_4" BEL
        "g0/UArrows_0_3" BEL "g0/UArrows_0_2" BEL "g0/UArrows_0_1" BEL
        "g0/UArrows_0_0" BEL "g0/RArrows_0_109" BEL "g0/RArrows_0_108" BEL
        "g0/RArrows_0_107" BEL "g0/RArrows_0_106" BEL "g0/RArrows_0_105" BEL
        "g0/RArrows_0_104" BEL "g0/RArrows_0_103" BEL "g0/RArrows_0_102" BEL
        "g0/RArrows_0_101" BEL "g0/RArrows_0_100" BEL "g0/RArrows_0_99" BEL
        "g0/RArrows_0_98" BEL "g0/RArrows_0_97" BEL "g0/RArrows_0_96" BEL
        "g0/RArrows_0_95" BEL "g0/RArrows_0_94" BEL "g0/RArrows_0_93" BEL
        "g0/RArrows_0_92" BEL "g0/RArrows_0_91" BEL "g0/RArrows_0_90" BEL
        "g0/RArrows_0_89" BEL "g0/RArrows_0_88" BEL "g0/RArrows_0_87" BEL
        "g0/RArrows_0_86" BEL "g0/RArrows_0_85" BEL "g0/RArrows_0_84" BEL
        "g0/RArrows_0_83" BEL "g0/RArrows_0_82" BEL "g0/RArrows_0_81" BEL
        "g0/RArrows_0_80" BEL "g0/RArrows_0_79" BEL "g0/RArrows_0_78" BEL
        "g0/RArrows_0_77" BEL "g0/RArrows_0_76" BEL "g0/RArrows_0_75" BEL
        "g0/RArrows_0_74" BEL "g0/RArrows_0_73" BEL "g0/RArrows_0_72" BEL
        "g0/RArrows_0_71" BEL "g0/RArrows_0_70" BEL "g0/RArrows_0_69" BEL
        "g0/RArrows_0_68" BEL "g0/RArrows_0_67" BEL "g0/RArrows_0_66" BEL
        "g0/RArrows_0_65" BEL "g0/RArrows_0_64" BEL "g0/RArrows_0_63" BEL
        "g0/RArrows_0_62" BEL "g0/RArrows_0_61" BEL "g0/RArrows_0_60" BEL
        "g0/RArrows_0_59" BEL "g0/RArrows_0_58" BEL "g0/RArrows_0_57" BEL
        "g0/RArrows_0_56" BEL "g0/RArrows_0_55" BEL "g0/RArrows_0_54" BEL
        "g0/RArrows_0_53" BEL "g0/RArrows_0_52" BEL "g0/RArrows_0_51" BEL
        "g0/RArrows_0_50" BEL "g0/RArrows_0_49" BEL "g0/RArrows_0_48" BEL
        "g0/RArrows_0_47" BEL "g0/RArrows_0_46" BEL "g0/RArrows_0_45" BEL
        "g0/RArrows_0_44" BEL "g0/RArrows_0_43" BEL "g0/RArrows_0_42" BEL
        "g0/RArrows_0_41" BEL "g0/RArrows_0_40" BEL "g0/RArrows_0_39" BEL
        "g0/RArrows_0_38" BEL "g0/RArrows_0_37" BEL "g0/RArrows_0_36" BEL
        "g0/RArrows_0_35" BEL "g0/RArrows_0_34" BEL "g0/RArrows_0_33" BEL
        "g0/RArrows_0_32" BEL "g0/RArrows_0_31" BEL "g0/RArrows_0_30" BEL
        "g0/RArrows_0_29" BEL "g0/RArrows_0_28" BEL "g0/RArrows_0_27" BEL
        "g0/RArrows_0_26" BEL "g0/RArrows_0_25" BEL "g0/RArrows_0_24" BEL
        "g0/RArrows_0_23" BEL "g0/RArrows_0_22" BEL "g0/RArrows_0_21" BEL
        "g0/RArrows_0_20" BEL "g0/RArrows_0_19" BEL "g0/RArrows_0_18" BEL
        "g0/RArrows_0_17" BEL "g0/RArrows_0_16" BEL "g0/RArrows_0_15" BEL
        "g0/RArrows_0_14" BEL "g0/RArrows_0_13" BEL "g0/RArrows_0_12" BEL
        "g0/RArrows_0_11" BEL "g0/RArrows_0_10" BEL "g0/RArrows_0_9" BEL
        "g0/RArrows_0_8" BEL "g0/RArrows_0_7" BEL "g0/RArrows_0_6" BEL
        "g0/RArrows_0_5" BEL "g0/RArrows_0_4" BEL "g0/RArrows_0_3" BEL
        "g0/RArrows_0_2" BEL "g0/RArrows_0_1" BEL "g0/RArrows_0_0" BEL
        "g0/DArrows_0_109" BEL "g0/DArrows_0_108" BEL "g0/DArrows_0_107" BEL
        "g0/DArrows_0_106" BEL "g0/DArrows_0_105" BEL "g0/DArrows_0_104" BEL
        "g0/DArrows_0_103" BEL "g0/DArrows_0_102" BEL "g0/DArrows_0_101" BEL
        "g0/DArrows_0_100" BEL "g0/DArrows_0_99" BEL "g0/DArrows_0_98" BEL
        "g0/DArrows_0_97" BEL "g0/DArrows_0_96" BEL "g0/DArrows_0_95" BEL
        "g0/DArrows_0_94" BEL "g0/DArrows_0_93" BEL "g0/DArrows_0_92" BEL
        "g0/DArrows_0_91" BEL "g0/DArrows_0_90" BEL "g0/DArrows_0_89" BEL
        "g0/DArrows_0_88" BEL "g0/DArrows_0_87" BEL "g0/DArrows_0_86" BEL
        "g0/DArrows_0_85" BEL "g0/DArrows_0_84" BEL "g0/DArrows_0_83" BEL
        "g0/DArrows_0_82" BEL "g0/DArrows_0_81" BEL "g0/DArrows_0_80" BEL
        "g0/DArrows_0_79" BEL "g0/DArrows_0_78" BEL "g0/DArrows_0_77" BEL
        "g0/DArrows_0_76" BEL "g0/DArrows_0_75" BEL "g0/DArrows_0_74" BEL
        "g0/DArrows_0_73" BEL "g0/DArrows_0_72" BEL "g0/DArrows_0_71" BEL
        "g0/DArrows_0_70" BEL "g0/DArrows_0_69" BEL "g0/DArrows_0_68" BEL
        "g0/DArrows_0_67" BEL "g0/DArrows_0_66" BEL "g0/DArrows_0_65" BEL
        "g0/DArrows_0_64" BEL "g0/DArrows_0_63" BEL "g0/DArrows_0_62" BEL
        "g0/DArrows_0_61" BEL "g0/DArrows_0_60" BEL "g0/DArrows_0_59" BEL
        "g0/DArrows_0_58" BEL "g0/DArrows_0_57" BEL "g0/DArrows_0_56" BEL
        "g0/DArrows_0_55" BEL "g0/DArrows_0_54" BEL "g0/DArrows_0_53" BEL
        "g0/DArrows_0_52" BEL "g0/DArrows_0_51" BEL "g0/DArrows_0_50" BEL
        "g0/DArrows_0_49" BEL "g0/DArrows_0_48" BEL "g0/DArrows_0_47" BEL
        "g0/DArrows_0_46" BEL "g0/DArrows_0_45" BEL "g0/DArrows_0_44" BEL
        "g0/DArrows_0_43" BEL "g0/DArrows_0_42" BEL "g0/DArrows_0_41" BEL
        "g0/DArrows_0_40" BEL "g0/DArrows_0_39" BEL "g0/DArrows_0_38" BEL
        "g0/DArrows_0_37" BEL "g0/DArrows_0_36" BEL "g0/DArrows_0_35" BEL
        "g0/DArrows_0_34" BEL "g0/DArrows_0_33" BEL "g0/DArrows_0_32" BEL
        "g0/DArrows_0_31" BEL "g0/DArrows_0_30" BEL "g0/DArrows_0_29" BEL
        "g0/DArrows_0_28" BEL "g0/DArrows_0_27" BEL "g0/DArrows_0_26" BEL
        "g0/DArrows_0_25" BEL "g0/DArrows_0_24" BEL "g0/DArrows_0_23" BEL
        "g0/DArrows_0_22" BEL "g0/DArrows_0_21" BEL "g0/DArrows_0_20" BEL
        "g0/DArrows_0_19" BEL "g0/DArrows_0_18" BEL "g0/DArrows_0_17" BEL
        "g0/DArrows_0_16" BEL "g0/DArrows_0_15" BEL "g0/DArrows_0_14" BEL
        "g0/DArrows_0_13" BEL "g0/DArrows_0_12" BEL "g0/DArrows_0_11" BEL
        "g0/DArrows_0_10" BEL "g0/DArrows_0_9" BEL "g0/DArrows_0_8" BEL
        "g0/DArrows_0_7" BEL "g0/DArrows_0_6" BEL "g0/DArrows_0_5" BEL
        "g0/DArrows_0_4" BEL "g0/DArrows_0_3" BEL "g0/DArrows_0_2" BEL
        "g0/DArrows_0_1" BEL "g0/DArrows_0_0" BEL "g0/LArrows_0_109" BEL
        "g0/LArrows_0_108" BEL "g0/LArrows_0_107" BEL "g0/LArrows_0_106" BEL
        "g0/LArrows_0_105" BEL "g0/LArrows_0_104" BEL "g0/LArrows_0_103" BEL
        "g0/LArrows_0_102" BEL "g0/LArrows_0_101" BEL "g0/LArrows_0_100" BEL
        "g0/LArrows_0_99" BEL "g0/LArrows_0_98" BEL "g0/LArrows_0_97" BEL
        "g0/LArrows_0_96" BEL "g0/LArrows_0_95" BEL "g0/LArrows_0_94" BEL
        "g0/LArrows_0_93" BEL "g0/LArrows_0_92" BEL "g0/LArrows_0_91" BEL
        "g0/LArrows_0_90" BEL "g0/LArrows_0_89" BEL "g0/LArrows_0_88" BEL
        "g0/LArrows_0_87" BEL "g0/LArrows_0_86" BEL "g0/LArrows_0_85" BEL
        "g0/LArrows_0_84" BEL "g0/LArrows_0_83" BEL "g0/LArrows_0_82" BEL
        "g0/LArrows_0_81" BEL "g0/LArrows_0_80" BEL "g0/LArrows_0_79" BEL
        "g0/LArrows_0_78" BEL "g0/LArrows_0_77" BEL "g0/LArrows_0_76" BEL
        "g0/LArrows_0_75" BEL "g0/LArrows_0_74" BEL "g0/LArrows_0_73" BEL
        "g0/LArrows_0_72" BEL "g0/LArrows_0_71" BEL "g0/LArrows_0_70" BEL
        "g0/LArrows_0_69" BEL "g0/LArrows_0_68" BEL "g0/LArrows_0_67" BEL
        "g0/LArrows_0_66" BEL "g0/LArrows_0_65" BEL "g0/LArrows_0_64" BEL
        "g0/LArrows_0_63" BEL "g0/LArrows_0_62" BEL "g0/LArrows_0_61" BEL
        "g0/LArrows_0_60" BEL "g0/LArrows_0_59" BEL "g0/LArrows_0_58" BEL
        "g0/LArrows_0_57" BEL "g0/LArrows_0_56" BEL "g0/LArrows_0_55" BEL
        "g0/LArrows_0_54" BEL "g0/LArrows_0_53" BEL "g0/LArrows_0_52" BEL
        "g0/LArrows_0_51" BEL "g0/LArrows_0_50" BEL "g0/LArrows_0_49" BEL
        "g0/LArrows_0_48" BEL "g0/LArrows_0_47" BEL "g0/LArrows_0_46" BEL
        "g0/LArrows_0_45" BEL "g0/LArrows_0_44" BEL "g0/LArrows_0_43" BEL
        "g0/LArrows_0_42" BEL "g0/LArrows_0_41" BEL "g0/LArrows_0_40" BEL
        "g0/LArrows_0_39" BEL "g0/LArrows_0_38" BEL "g0/LArrows_0_37" BEL
        "g0/LArrows_0_36" BEL "g0/LArrows_0_35" BEL "g0/LArrows_0_34" BEL
        "g0/LArrows_0_33" BEL "g0/LArrows_0_32" BEL "g0/LArrows_0_31" BEL
        "g0/LArrows_0_30" BEL "g0/LArrows_0_29" BEL "g0/LArrows_0_28" BEL
        "g0/LArrows_0_27" BEL "g0/LArrows_0_26" BEL "g0/LArrows_0_25" BEL
        "g0/LArrows_0_24" BEL "g0/LArrows_0_23" BEL "g0/LArrows_0_22" BEL
        "g0/LArrows_0_21" BEL "g0/LArrows_0_20" BEL "g0/LArrows_0_19" BEL
        "g0/LArrows_0_18" BEL "g0/LArrows_0_17" BEL "g0/LArrows_0_16" BEL
        "g0/LArrows_0_15" BEL "g0/LArrows_0_14" BEL "g0/LArrows_0_13" BEL
        "g0/LArrows_0_12" BEL "g0/LArrows_0_11" BEL "g0/LArrows_0_10" BEL
        "g0/LArrows_0_9" BEL "g0/LArrows_0_8" BEL "g0/LArrows_0_7" BEL
        "g0/LArrows_0_6" BEL "g0/LArrows_0_5" BEL "g0/LArrows_0_4" BEL
        "g0/LArrows_0_3" BEL "g0/LArrows_0_2" BEL "g0/LArrows_0_1" BEL
        "g0/LArrows_0_0" BEL "g0/Rloc_3" BEL "g0/Rloc_2" BEL "g0/Rloc_1" BEL
        "g0/Rloc_0" BEL "g0/Lloc_3" BEL "g0/Lloc_2" BEL "g0/Lloc_1" BEL
        "g0/Lloc_0" BEL "g0/Uloc_3" BEL "g0/Uloc_2" BEL "g0/Uloc_1" BEL
        "g0/Uloc_0" BEL "g0/Dloc_3" BEL "g0/Dloc_2" BEL "g0/Dloc_1" BEL
        "g0/Dloc_0" BEL "g0/frame_count_7" BEL "g0/frame_count_6" BEL
        "g0/frame_count_5" BEL "g0/frame_count_4" BEL "g0/frame_count_3" BEL
        "g0/frame_count_2" BEL "g0/frame_count_1" BEL "g0/frame_count_0" BEL
        "g0/randgen/data_4" BEL "g0/randgen/data_3" BEL "g0/randgen/data_2"
        BEL "g0/randgen/data_1" BEL "g0/randgen/data_0" BEL "g0/Dloc_0_1" BEL
        "g0/Lloc_0_1" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

